<launch>

  <!-- Run Map Server -->
<!--
  <arg name="map_file" default="$(find vanadium_maps)/apt_313.yaml"/>
-->
  <arg name="map_file" default="$(find roswell_navigation)/maps/my_map.yaml"/>

  <!--- 
  <param name="r_wheel_joint" value="base_r_wheel_joint" />
  <param name="l_wheel_joint" value="base_l_wheel_joint" />
  -->

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

  <include file="$(find roswell_navigation)/launch/include/amcl.launch.xml" />
  <!--- Run AMCL -->
<!-- ARD gazebo
-->
  <!--- Run Move Base --> 
  <include file="$(find roswell_navigation)/launch/include/move_base.launch.xml" />
<!-- ARD gazebo
-->


</launch>
