<launch>
  <group ns="rtabmap">
    <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" output="screen">
      <param name="frame_id" type="string" value="base_link"/>
      <remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
      <param name="rgb/image_transport" type="string" value="compressed"/>
    </node>
  </group>
</launch>
