<launch>

  <node name="neato_laser_publisher" pkg="xv_11_laser_driver" type="neato_laser_publisher" output="screen" >
        <remap from="scan" to="base_scan"/>
        <param name="frame_id" type="string" value="base_laser_link" />
        <param name="port" type="str" value="/dev/neato" />
        <param name="angle_min" type="double" value="0" />
        <param name="angle_max" type="double" value="3.1416" />
  </node>

<!--
Was:
        <param name="angle_min" type="double" value="-2.2689" />
        <param name="angle_max" type="double" value="2.2689" />
-->


</launch>
